openapi: 3.0.1
info:
  title: Goal Builder API
  description: Goal Builder API
  license:
    name: Apache 2.0
    url: http://springdoc.org
  version: '0.1'
externalDocs:
  description: Goal Builder API Documentation
  url: ''
servers:
  - url: http://financial-wellness-qal.financial-wellness.qal.int.dbk.ncr.com
    description: Generated server url
paths:
  /fws/live/complete-notification:
    get:
      tags:
        - notification-controller
      operationId: getCoffeeCanCompletionNotification
      parameters:
        - name: isRead
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
    put:
      tags:
        - notification-controller
      operationId: updateCoffeeCanNotification
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteCanUpdateRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
  /fws/live/coffee-cans:
    get:
      tags:
        - coffee-can-controller
      operationId: getCoffeeCansByInstitutionUserIdAndStatus_1_1
      parameters:
        - name: institutionUserId
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: coffeeCanStatus
          in: query
          required: false
          schema:
            type: string
            enum:
              - ACTIVE
              - DEACTIVE
              - COMPLETED
              - CLOSED
              - NON_RECURRING
              - ACTIVE_COMPLETED
              - RECURRING
        - name: coffeeCanId
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: accountId
          in: query
          required: true
          schema:
            type: string
        - name: coffeeCanName
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
    put:
      tags:
        - coffee-can-controller
      operationId: updateCoffeeCans
      parameters:
        - name: accountId
          in: query
          required: false
          schema:
            type: string
        - name: notifyReserve
          in: query
          required: false
          schema:
            type: boolean
        - name: reserveLimit
          in: query
          required: false
          schema:
            type: number
            format: double
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoffeeCanUpdateRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
    post:
      tags:
        - coffee-can-controller
      operationId: createCoffeeCan
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoffeeCan'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
    delete:
      tags:
        - coffee-can-controller
      operationId: deleteCoffeeCan
      parameters:
        - name: coffeeCanId
          in: query
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
  /fws/live/coffee-cans/toaster-message:
    put:
      tags:
        - coffee-can-controller
      operationId: updateToasterMessage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageToasterUpdateRequest'
        required: true
      responses:
        '200':
          description: OK
  /fws/live/viewGLBEndUserFullList:
    post:
      tags:
        - goal-builder-user-controller
      operationId: viewGLBEndUserFullList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserInfo'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
  /fws/live/institution-user-account:
    post:
      tags:
        - institution-user-account-controller
      summary: Change bank account
      description: Change bank account
      operationId: updateAccount
      parameters:
        - name: accountId
          in: query
          required: true
          schema:
            type: string
        - name: newAccountId
          in: query
          required: true
          schema:
            type: string
        - name: institutionUserId
          in: query
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json: {}
        '400':
          description: Missing Required HTTP Headers
          content:
            application/json: {}
        '401':
          description: Authorization invalid or Missing Authorization Header
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
        '404':
          description: Entities not Found (Bank account not found)
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
  /fws/live/findGLBEndUserStatus:
    post:
      tags:
        - goal-builder-user-controller
      operationId: findGLBEndUserStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserInfo'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
  /fws/live/csvUpdate:
    post:
      tags:
        - account-renumbering-controller
      operationId: csvUpdate
      parameters:
        - name: dryRun
          in: query
          required: true
          schema:
            type: string
        - name: institutionId
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - file
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: OK
          content:
            application/csv:
              schema:
                type: object
  /fws/live/upcoming-transactions:
    get:
      tags:
        - transactions-controller
      summary: Get list of upcoming(pending) transactions
      description: Returns list of upcoming(pending) transactions
      operationId: getUpcomingTransactions
      parameters:
        - name: institutionUserId
          in: query
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
        '401':
          description: Authorization invalid or Missing Authorization Header
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
        '404':
          description: Entities not Found (No transaction found)
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
  /fws/live/transactions:
    get:
      tags:
        - transactions-controller
      summary: Get list of pending and completed transactions
      description: Returns list of pending and completed transactions
      operationId: getTransactions
      parameters:
        - name: institutionUserId
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: coffeeCanIdList
          in: query
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int64
        - name: fromDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: toDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
        '400':
          description: Invalid date range
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
        '401':
          description: Authorization invalid or Missing Authorization Header
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
        '404':
          description: Entities not Found (No transaction found)
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
  /fws/live/institution-user-account-detail:
    get:
      tags:
        - institution-user-account-controller
      summary: Returns user bank account and Goal savings
      description: Returns user bank account and Goal savings
      operationId: getInstitutionUserAccountDetail
      parameters:
        - name: institutionUserId
          in: query
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInformation'
        '400':
          description: Missing Required HTTP Headers
          content:
            application/json: {}
        '401':
          description: Authorization invalid or Missing Authorization Header
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
        '404':
          description: Entities not Found (Bank account not found)
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
  /fws/live/goal-builder/config:
    get:
      tags:
        - goal-builder-config-controller
      operationId: goalBuilderConfig
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
  /fws/live/fund-types:
    get:
      tags:
        - fund-type-controller
      operationId: getFundTypes
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
  /fws/live/csv:
    get:
      tags:
        - account-renumbering-controller
      operationId: getInstitutionUseraccountInfoAsCSV
      parameters:
        - name: institutionId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: string
  /fws/live/createSession:
    get:
      tags:
        - session-controller
      operationId: createNewSession
      parameters:
        - name: guid
          in: query
          required: true
          schema:
            type: string
        - name: diid
          in: query
          required: true
          schema:
            type: string
        - name: authId
          in: query
          required: true
          schema:
            type: string
        - name: loginId
          in: query
          required: true
          schema:
            type: string
        - name: memberNumber
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
  /fws/live/coffee-cans-ins:
    get:
      tags:
        - coffee-can-controller
      operationId: getDepositAllocationForAllCans
      parameters:
        - name: institutionUserId
          in: query
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DepositAllocationSumResponse'
  /fws/live/coffee-cans-account:
    get:
      tags:
        - coffee-can-controller
      operationId: getCoffeeCanListAndAccountDetails
      parameters:
        - name: institutionUserId
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: coffeeCanStatus
          in: query
          required: false
          schema:
            type: string
            enum:
              - ACTIVE
              - DEACTIVE
              - COMPLETED
              - CLOSED
              - NON_RECURRING
              - ACTIVE_COMPLETED
              - RECURRING
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: object
  /fws/live/accounts:
    get:
      tags:
        - institution-user-account-controller
      summary: Get eligible bank accounts
      description: Returns eligible bank accounts
      operationId: getBankAccounts
      parameters:
        - name: listAccount
          in: query
          required: true
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsResponse'
        '400':
          description: Missing Required HTTP Headers
          content:
            application/json: {}
        '401':
          description: Authorization invalid or Missing Authorization Header
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
        '404':
          description: Entities not Found (Bank account not found)
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
  /fws/live/delete-upcoming:
    delete:
      tags:
        - job-operations-controller
      summary: Deletes(skip) upcoming execution of recurring transfer job
      description: Deletes(skip) upcoming execution of recurring transfer job
      operationId: deleteUpcomingJob
      parameters:
        - name: coffeeCanId
          in: query
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
        '400':
          description: Invalid coffeeCanId
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
        '401':
          description: Authorization invalid or Missing Authorization Header
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
        '404':
          description: Entities not Found (No coffee can found)
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
components:
  schemas:
    CompleteCanUpdateRequest:
      type: object
      properties:
        notificationId:
          type: integer
          format: int64
        coffeeCanId:
          type: integer
          format: int64
        isRead:
          type: boolean
    CoffeeCan:
      type: object
      properties:
        coffeeCanId:
          type: integer
          format: int64
        getcIdTo:
          type: integer
          format: int64
        accountId:
          type: string
        institutionUserId:
          type: integer
          format: int64
        fundTypeId:
          type: integer
          format: int64
        coffeeCanName:
          type: string
        coffeeCanType:
          type: string
          enum:
            - PREDEFINED
            - PREDEFINED_NOT
        coffeeCanStatus:
          type: string
          enum:
            - ACTIVE
            - DEACTIVE
            - COMPLETED
            - CLOSED
            - NON_RECURRING
            - ACTIVE_COMPLETED
            - RECURRING
        targetAmount:
          type: number
          format: double
        totalSavingAmount:
          type: number
          format: double
        monthlyAmount:
          type: number
          format: double
        depositAllocation:
          type: number
          format: double
        goalStartDate:
          type: string
          format: date
        goalEndDate:
          type: string
          format: date
        recurringAction:
          type: string
          enum:
            - Create
            - Update
            - Delete
        recurringDetail:
          $ref: '#/components/schemas/RecurringDetail'
        transactionType:
          type: string
        transactionAmount:
          type: number
          format: double
        activeDeactiveAmount:
          type: number
          format: double
        transactionList:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pendingList:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        nickName:
          type: string
        memo:
          type: string
        completionDate:
          type: string
          format: date-time
        toasterMessage:
          type: string
        iconUrl:
          type: string
        isRead:
          type: boolean
    CoffeeCanUpdateRequest:
      type: object
      properties:
        coffeeCans:
          type: array
          items:
            $ref: '#/components/schemas/CoffeeCan'
    RecurringDetail:
      type: object
      properties:
        recAmount:
          type: number
          format: double
        recStartDate:
          type: string
          format: date
        frequencyType:
          type: string
        recEndType:
          type: string
        recEndDate:
          type: string
          format: date
        numberOfTransfer:
          type: integer
          format: int32
        scheduleDetails:
          type: array
          items:
            $ref: '#/components/schemas/ScheduleDetail'
    ScheduleDetail:
      type: object
      properties:
        recurringId:
          type: integer
          format: int64
        timeOfDay:
          type: string
          format: date-time
        interval:
          type: integer
          format: int32
        day:
          type: integer
          format: int32
    Transaction:
      type: object
      properties:
        transactionId:
          type: integer
          format: int64
        coffeeCanId:
          type: integer
          format: int64
        transactionAmount:
          type: number
          format: double
        transactionDatetime:
          type: string
          format: date-time
        transactionType:
          type: string
        transactionName:
          type: string
        totalSavingAmount:
          type: number
          format: double
        frequencyType:
          type: string
        transactionMemo:
          type: string
        canToCan:
          type: string
        transactionDescription:
          type: string
        depositAmount:
          type: number
          format: double
        accountNumber:
          type: string
        accountName:
          type: string
        coffeeCanName:
          type: string
    MessageToasterUpdateRequest:
      type: object
      properties:
        ids:
          type: array
          items:
            type: integer
            format: int64
    UserInfo:
      type: object
      properties:
        fiId:
          type: string
        userGuid:
          type: string
        userMemberId:
          type: string
    TransactionsResponse:
      type: object
      properties:
        pendingTransactionsList:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        transactionsList:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
    AccountInformation:
      type: object
      properties:
        institutionUserId:
          type: integer
          format: int64
        accountBalance:
          type: number
          format: double
        remainingBalance:
          type: number
          format: double
        nickName:
          type: string
        isBalanceAdjusted:
          type: boolean
        isNotifyReserve:
          type: boolean
        reserveLimit:
          type: number
          format: double
        isIncompleteDistribution:
          type: boolean
        displayAccountNumber:
          type: string
        accountType:
          type: integer
        isAccountAvailable:
          type: boolean
    DepositAllocationSumResponse:
      type: object
      properties:
        sum:
          type: number
          format: double
        message:
          type: string
    AccountsResponse:
      type: object
      properties:
        accountId:
          type: string
        description:
          type: string
        nickName:
          type: string
        displayAccountNumber:
          type: string
        availableBalance:
          type: number
        displayCardNumber:
          type: string